/build
.clangd
components/espressif__esp_lcd_touch_gt911/idf_component.yml
dependencies.lock
sdkconfig
dependencies.lock
.clangd
.clangd
.project
.clangd
.project
components/espressif__esp_lcd_touch/.cproject
components/espressif__esp_lcd_touch/idf_component.yml
components/espressif__esp_lcd_touch_gt911/.cproject
components/lvgl__lvgl/.cproject
components/lvgl__lvgl/tests/.cproject
dependencies.lock
main/.cproject
sdkconfig
.clangd
.project
components/espressif__esp_lcd_touch/idf_component.yml
dependencies.lock
sdkconfig
sdkconfig
dependencies.lock
components/espressif__esp_lcd_touch/idf_component.yml
